.login-page{
    background-image:url(../../assets/login-bg-black.png) ;
    background-size:cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
}

.login-form-card {
    background-color: #222222;
    width: 400px;
    
}